.container{
    height: 400px;
    background-color: gray;
    width: 100%;
    font-size: larger;
    color:black;
    
}


/* for mobile  */
@media (max-width:767px){
    .container{
        background-color:red;
font-size: small;
color: brown;
    }
}


/* for tab  */
@media(min-width:768px) and (max-width:1023px) {
    .container{
        background-color: blue;
        font-size: medium;
        color: white;
    }
    
}

/* for laptop */
@media (max-width:1024px){
    .container{
        background-color:yellow;
font-size: xx-large;
color:blueviolet;
    }
}


